NUXT_PUBLIC_FIREBASE_API_KEY=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_PROJECT_ID=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=yLaughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_APP_ID=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_FIREBASE_MEASUREMENT_ID=Laughs_at_you_in_gozs_voice
NUXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxx
PAYSTACK_SECRET_KEY=sk_live_xxxx
PAYSTACK_PLAN_MICRO_AMOUNT=0
PAYSTACK_PLAN_MEDIUM_AMOUNT=500000
PAYSTACK_PLAN_ENTERPRISE_AMOUNT=1500000